<%= form_with(url: products_path, method: :get, local: false) do |form| %>
  <div class="rounded-box m-2" style="background-color: white; border: 1px solid #ddd; border-radius: 5px;">
    <div class="input-group">
      <%= form.text_field :location, value: params[:location], class: 'form-control custom-placeholder', placeholder: 'Location' %>
      <%= select_tag :category, options_for_select(Product::CATEGORY, params[:category]), prompt: "Select category", class: "form-control" %>
      <div class="input-group-append">
        <%= form.button type: 'submit', class: 'btn btn-dark' do %>
          <i class="fas fa-search"></i>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
