.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.navbar-lewagon .fa-right-to-bracket {
  font-size: 24px;
}

.nav-item {
  margin-left: 10px;
}
